VeterinariaServices/ClienteWinsowsForm/Service References/proxyCita/CitaService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AsignarCita">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="horaC" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fechaC" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dniD" type="xs:int" />
        <xs:element minOccurs="0" name="numC" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AsignarCitaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AsignarCitaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>