VeterinariaServices/ClienteWeb/Service References/proxyMascota/MascotaService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MascotaService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://zeus/MascotaService/MascotaService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://zeus/MascotaService/MascotaService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMascotaService_registarMascota_InputMessage">
    <wsdl:part name="parameters" element="tns:registarMascota" />
  </wsdl:message>
  <wsdl:message name="IMascotaService_registarMascota_OutputMessage">
    <wsdl:part name="parameters" element="tns:registarMascotaResponse" />
  </wsdl:message>
  <wsdl:message name="IMascotaService_MostrarInfoMascota_InputMessage">
    <wsdl:part name="parameters" element="tns:MostrarInfoMascota" />
  </wsdl:message>
  <wsdl:message name="IMascotaService_MostrarInfoMascota_OutputMessage">
    <wsdl:part name="parameters" element="tns:MostrarInfoMascotaResponse" />
  </wsdl:message>
  <wsdl:portType name="IMascotaService">
    <wsdl:operation name="registarMascota">
      <wsdl:input wsaw:Action="http://tempuri.org/IMascotaService/registarMascota" message="tns:IMascotaService_registarMascota_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMascotaService/registarMascotaResponse" message="tns:IMascotaService_registarMascota_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MostrarInfoMascota">
      <wsdl:input wsaw:Action="http://tempuri.org/IMascotaService/MostrarInfoMascota" message="tns:IMascotaService_MostrarInfoMascota_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMascotaService/MostrarInfoMascotaResponse" message="tns:IMascotaService_MostrarInfoMascota_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMascotaService" type="tns:IMascotaService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="registarMascota">
      <soap:operation soapAction="http://tempuri.org/IMascotaService/registarMascota" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MostrarInfoMascota">
      <soap:operation soapAction="http://tempuri.org/IMascotaService/MostrarInfoMascota" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MascotaService">
    <wsdl:port name="BasicHttpBinding_IMascotaService" binding="tns:BasicHttpBinding_IMascotaService">
      <soap:address location="http://zeus/MascotaService/MascotaService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>