VeterinariaServices/ClienteWeb/Service References/proxyDuenio/DuenioService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DuenioService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://zeus/duenioS/DuenioService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://zeus/duenioS/DuenioService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDuenioService_RegistrarDuenio_InputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarDuenio" />
  </wsdl:message>
  <wsdl:message name="IDuenioService_RegistrarDuenio_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarDuenioResponse" />
  </wsdl:message>
  <wsdl:message name="IDuenioService_BuscarDuenio_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarDuenio" />
  </wsdl:message>
  <wsdl:message name="IDuenioService_BuscarDuenio_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarDuenioResponse" />
  </wsdl:message>
  <wsdl:portType name="IDuenioService">
    <wsdl:operation name="RegistrarDuenio">
      <wsdl:input wsaw:Action="http://tempuri.org/IDuenioService/RegistrarDuenio" message="tns:IDuenioService_RegistrarDuenio_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDuenioService/RegistrarDuenioResponse" message="tns:IDuenioService_RegistrarDuenio_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarDuenio">
      <wsdl:input wsaw:Action="http://tempuri.org/IDuenioService/BuscarDuenio" message="tns:IDuenioService_BuscarDuenio_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDuenioService/BuscarDuenioResponse" message="tns:IDuenioService_BuscarDuenio_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDuenioService" type="tns:IDuenioService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegistrarDuenio">
      <soap:operation soapAction="http://tempuri.org/IDuenioService/RegistrarDuenio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarDuenio">
      <soap:operation soapAction="http://tempuri.org/IDuenioService/BuscarDuenio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DuenioService">
    <wsdl:port name="BasicHttpBinding_IDuenioService" binding="tns:BasicHttpBinding_IDuenioService">
      <soap:address location="http://zeus/duenioS/DuenioService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>